{% extends "base.html" %}

{% block Team %}
<div class="border-t-2 border-grey-lighter bg-grey-lighter">
    <div class="container mx-auto py-6 text-center">
{% for item in team %}
      <h2 class="font-black-darker font-serif text-3xl pt-6">
          {{item.team_name}} Members
        </h2> 
        {% for x in item.members.all %}
       <div class="flex mt-6 {% cycle '' 'flex-row-reverse' %}">
        <div class="w-1/2 ">
            <h3 class="w-96 font-black-darker font-black">{{x.user_name}}</h3>
            <div class="w-96 mx-auto">
                <img class="h-32 w-32 bg-white p-2 rounded-full" src="" alt="{{x.user_name}}'s Photo" />
            </div>
        </div>
        <div class="w-1/2 font-serif">
            <p class="text-grey-darker py-4 text-lg leading-normal">
                {{x.title}}<br/> 
                {{x.email}}<br/>
                {{x.contact}}
            </p>
        </div>
    </div>
        {% endfor %}
        
      {% endfor %} 
      </div>
      </div>

{% endblock Team %}