{% extends "base.html" %} 
{% block task_detail %}

<main class="w-full">
  
  
  <div class="bg-white border-t-2 border-grey-lighter">
    <div class="container mx-auto py-6 my-6">
      <div class="flex">
        <div class="w-1/4">
          <a href="./index.php">
            <img class="w-12 h-12" src="./Images/Logo.jpg" alt="Church Logo" />
          </a>
        </div>

        <div class="flex-grow">
          <div class="flex font-sans text-xs pl-6">
            <div class="w-1/4">
              <h4 class="uppercase py-4 text-grey-darker">Mukui Ministry</h4>
              <ul class="list-reset text-grey-dark">
                <li class="py-2">About Us</li>
                <li class="py-2">Press</li>
              </ul>
            </div>

            <div class="w-1/4">
              <h4 class="uppercase py-4 text-grey-darker">resources</h4>
              <ul class="list-reset text-grey-dark">
                <li class="py-2">Events</li>
                <li class="py-2">Church Tents</li>
                <li class="py-2">Church Seats</li>
                <li class="py-2">Church Public Address</li>
              </ul>
            </div>
            <div class="w-1/4">
              <h4 class="uppercase py-4 text-grey-darker">extras</h4>
              <ul class="list-reset font-sans text-grey-dark">
                <li class="py-2">Help Center</li>
                <li class="py-2">Church Shop</li>
                <li class="py-2">Church Fund</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock task_detail %}
