{% extends "base.html" %} {% block user_detail %}

<main class="w-full">
  <div class="border-t-2 border-grey-lighter">
    <div class="container mx-auto py-6">
      <div class="flex mt-6">
        <div class="w-1/2 bg-grey">
          <div class="w-96 mx-auto" style="scroll-snap-type: x mandatory">
            <img
              class="w-full"
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.OZDWoC8NUTcFPOr4LzQM_QHaFj%26pid%3DApi%26h%3D160&f=1&ipt=978b778c1929d9321ddaf2e1f77d653dbdbf2897c72e3301a3ecc6fa924db7dd&ipo=images"
              alt="Church's Image"
            />
          </div>
        </div>
        <div class="w-1/2 font-serif">
          <h1 class="text-5xl font-black-darker font-black">
            {{object.title}}
          </h1>
          {% for item in task%}
          <p class="text-grey-darker py-4 text-lg leading-normal">
            {{item.title}}
          </p>
          <p class="text-grey-darker py-4 text-sm leading-normal">
            {{item.content}}
          </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="border-t-2 border-grey-lighter bg-grey-lighter">
    <div class="container mx-auto py-6 text-center">
      <div class="mb-6">
        <h2 class="font-black-darker font-serif text-4xl pt-6">
          You're in good company
        </h2>
        <p class="text-grey-darker mb-2 font-sans p-4">
          {% comment %} DJ Profession {% endcomment %} {% comment %} Countless
          event organizers across the globe have eagerly embraced the expertise
          of skilled DJs, recognizing the value they bring to party planning and
          the seamless integration of public address systems. Together, let us
          revel in the artistry of DJs, as they curate unforgettable
          experiences, set the mood, and ensure smooth communication, creating
          moments of joy and celebration for all.
          <br />Join us as we dance, socialize, and appreciate the remarkable
          talents of DJs in orchestrating remarkable events. {% endcomment %} 
          {% comment %} Many music enthusiasts around the world have already
          embraced the beats and melodies that DJs bring into their lives,
          accepting the company of fellow partygoers and the energetic
          atmosphere they create. Let us unite and celebrate the DJ's craft
          together, dancing and enjoying the music as a vibrant community. 
          {% endcomment %} 
          Professionals from various fields all around the world
          have been embraced by countless individuals who recognize the
          expertise and contributions they bring into their lives. Whether it be
          doctors, teachers, engineers, artists, or any other occupation, we
          acknowledge and appreciate the value they bring to our society. 
          <br/>Let us come together as a community to honor and recognize the
          accomplishments of professionals across different domains. Whether
          they are saving lives, imparting knowledge, building innovative
          structures, creating beautiful masterpieces, or excelling in any other
          field, let us celebrate their dedication, passion, and the positive
          impact they have on our lives. <br/>
          Join us in expressing our gratitude and admiration for the diverse talents and skills of professionals. Let us
          come together, support one another, and recognize the collective
          efforts that shape our world. Together, we can create a society that
          appreciates and respects the contributions of professionals from all
          walks of life.
        </p>
        <button
          class="py-4 px-8 mt-2 text-sm font-black border border-purple-dark hover:border-purple-darkest text-purple-darker bg-white uppercase rounded font-mono"
        >
          <a
            href="{% url 'user_detail' id=1 %}"
            target="_blank"
            rel="noopener noreferrer"
          >
            discover why</a
          >
        </button>
      </div>
      <div class="container mx-auto py-6 border-t-2">
      
        
        <!-- <hr> -->
        
        {% comment %} <div class="flex mt-6">
          <div class="w-1/2 font-serif">
            <p class="text-grey-darker py-4 text-lg leading-normal">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
              accusamus accusantium consequatur cumque ea error esse, est id
              illo nemo nostrum obcaecati odio pariatur perferendis porro quo
              quos ut velit.
            </p>
          </div>
          <div class="w-1/2 bg-grey">
            <h3 class="w-96 font-black-darker font-black">Vicar</h3>
            <div class="w-96 mx-auto">
              <img
                class="h-32 w-32 bg-white p-2 rounded-full"
                src="https://lavinephotography.com.au/wp-content/uploads/2017/01/PROFILE-Photography-112.jpg"
                alt="Vicar's Photo"
              />
            </div>
          </div>
        </div> {% endcomment %}

      <div class="flex pt-6 font-serif text-grey-darker">
        <div class="w-1/3 p-6 border-r-2 border-grey-light">
          <h1 class="text-2xl mt-6 mb-6">Church Image</h1>
        </div>
        <div class="w-1/3 p-6 border-r-2 border-grey-light">
          <h1 class="text-2xl mt-6 mb-6">Church Image</h1>
        </div>
        <div class="w-1/3 p-6">
          <h1 class="text-2xl mt-6 mb-6">Church Image</h1>
        </div>
      </div>
      <div
        class="flex border-t-2 font-serif border-grey-light text-grey-darker text-grey-darker"
      >
        <div class="w-1/3 p-6 border-r-2 border-grey-light">
          <h1 class="text-2xl mt-6 mb-6">Church Image</h1>
        </div>
        <div class="w-1/3 p-6 border-r-2 border-grey-light">
          <h1 class="text-2xl mt-6 mb-6">Church Image</h1>
        </div>
        <div class="w-1/3 p-6">
          <h1 class="text-2xl mt-6 mb-6">Church Image</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white border-t-2 border-grey-lighter">
    <div class="container mx-auto py-6 my-6">
      <div class="flex">
        <div class="w-1/4">
          <a href="./index.php">
            <img class="w-12 h-12" src="./Images/Logo.jpg" alt="Church Logo" />
          </a>
        </div>

        <div class="flex-grow">
          <div class="flex font-sans text-xs pl-6">
            <div class="w-1/4">
              <h4 class="uppercase py-4 text-grey-darker">Mukui Ministry</h4>
              <ul class="list-reset text-grey-dark">
                <li class="py-2">About Us</li>
                <li class="py-2">Press</li>
              </ul>
            </div>

            <div class="w-1/4">
              <h4 class="uppercase py-4 text-grey-darker">resources</h4>
              <ul class="list-reset text-grey-dark">
                <li class="py-2">Events</li>
                <li class="py-2">Church Tents</li>
                <li class="py-2">Church Seats</li>
                <li class="py-2">Church Public Address</li>
              </ul>
            </div>
            <div class="w-1/4">
              <h4 class="uppercase py-4 text-grey-darker">extras</h4>
              <ul class="list-reset font-sans text-grey-dark">
                <li class="py-2">Help Center</li>
                <li class="py-2">Church Shop</li>
                <li class="py-2">Church Fund</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock user_detail %}
